//mobile-first
body{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-main);
    font-size: var(--font-size);
    font-weight: 500;
}

.container{
        min-width: 320px;
        max-height: 704px;
    &__card--top{
        background: url('./public/images/bg-main-mobile.png');
        background-repeat: repeat;
        height: 240px;
        position: relative;
        
        .card__front{
            width: 286px;
            height: 157px;
            padding: 20px;
            position: absolute;
            top: 126px;
            left: 18px;
            letter-spacing: 1.6px;
            color: var(--color-white);
            background: url('./public/images/bg-card-front1.png') no-repeat; 
            background-size: contain;
            z-index: 1;
            box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
            
            &--logo{
                img{
                    width: 55px;
                    height: 30px;
                }
                width: 55px;
                margin-bottom: 30px;
            }

            &--number{
                margin-bottom: 18px;
            }

            &--details{
                font-weight: lighter;
                display: flex;
                font-size: 0.8rem;
                justify-content: space-between;
                text-transform: uppercase;
                h1,h2{
                    font-weight:normal;
                }
            }
            
        }

        .card__back{
            width: 288px;
            height: 160px;
            top: 36px;
            left: 72px;
            position: absolute;
            padding: 20px;
            letter-spacing: 1.6px;
            font-size: 1rem;
            color: var(--color-white);
            background: url('./public/images/bg-card-back1.png') no-repeat; 
            background-size: contain;
            
            &--cvc{
                font-weight: normal;
                margin-top: 50px;
                text-align: right;
                padding-right: 12px;
                
            }
        }
    }
    &__card--buttom{
        padding: 90px 24px 45px;
        display: flex;
        align-items: center;
        .form{
            &__label{
                text-transform: uppercase;
                font-size: 1.2rem;
                letter-spacing: 1.6px;
                display: block;
                color: var(--color-very-dark);
                font-weight: bold;
                margin-bottom: 8px;
                input{
                    width: 100%;
                    height: 40px;
                    margin-top: 6px;
                    margin-bottom: 10px;
                    border-radius: 4px;
                    border: 1px solid var(--color-light-grayish);
                    padding-left: 10px;
                    font-size: 1.6rem;
                    outline: none;
                    &::placeholder{
                        color: var(--color-dark-grayish);
                    }
                    &:hover{
                        cursor: pointer;
                    }
                }
                .error{
                    display: none;
                }
                .cardholder{
                    border: 1px solid var(--color-red);
                }
                .errorName{
                    color: var(--color-red);
                    text-transform: none;
                    letter-spacing: normal;
                    font-size: 1rem;
                }
                .errorNumber{
                    @extend .errorName;
                }
                .errorMonth{
                    @extend .errorNumber;
                }
                .errorYear{
                    @extend .errorMonth;
                }
                .errorCvc{
                    @extend .errorYear;
                }
            }
            
            
            &__date--cvc{
                margin-top: 8px;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                gap: 10px;
                //aqui el grid de seccion de fechas
                .date{
                    width: 154px;
                    display: flex;
                    flex-wrap: nowrap;
                    gap: 10px;
                }
            }
            
            &__submit{
                background-color: var(--color-very-dark);
                color: var(--color-white);
                width: 100%;
                margin-top: 6px;
                height: 50px;
                font-size: 1.6rem;
                letter-spacing: 1px;
                border-radius: 9px;
                -webkit-border-radius: 9px;
                -moz-border-radius: 9px;
                -ms-border-radius: 9px;
                -o-border-radius: 9px;
                box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
                &:hover{
                    cursor: pointer;
                }
            }
        }

    }
    .completed{
        display: none;
        margin: 0 auto;
        width: 220px;
        text-align: center;
        &__img{
            display: block;
            margin: auto;
            margin-bottom: 30px;
        }
        &__title{
            text-transform: uppercase;
            text-align: center;
            font-weight: 400;
            letter-spacing: 4px;
            margin-bottom: 24px;
            color: var(--color-very-dark);
        }
        &__mjs{
            text-align: center;
            font-size: 1.2rem;
            margin-bottom: 24px;
            color: var(--color-dark-grayish);
        }
        &__button{
            @extend .form__submit;
        }
    }
    
}

    







