@use './global' as *;

.card{
    width: 288px;
    height: 160px;
    color: $primary-white;
    padding: 20px;
    background: url('../images/bg-card-front.png') no-repeat; 
    background-size: contain;
    position: absolute;
    top: 126px;
    left: 18px;
    @media (min-width: 1440px) {
        width: 450px;
        height: 247px;
        padding: 30px;
        top: 187px;
        left: 167px;
    }
    z-index: 1;
    letter-spacing: 2px;
    &__logo{
        width: 55px;
        margin-bottom: 30px;
    }
    &__number{
        font-size: 0.9em;
        margin-bottom: 8px;
    }
    &__details{
        display: flex;
        font-size: 0.5em;
        justify-content: space-between;
        text-transform: uppercase;
    }
    @media (min-width: 1440px) {
        &__logo{
            width: 86px;
            margin-bottom: 55px;
        }
        &__number{
            font-size: 1.6em;
            margin-bottom: 25px;
        }
        &__details{
            font-size: 0.8em;
        }
    }
}

.card__back{
    width: 288px;
    height: 160px;
    color: $primary-white;
    padding: 20px;
    background: url('../images/bg-card-back.png') no-repeat; 
    background-size: contain;
    position: absolute;
    top: 30px;
    left: 75px;
    @media (min-width: 1440px) {
        width: 450px;
        height: 247px;
        padding: 30px;
        top: 468px;
        left: 257px;
    }
    letter-spacing: 2px;
    &--cvc{
        font-size: 0.7em;
        margin-top: 50px;
        text-align: right;
        padding-right: 10px;
        @media (min-width: 1440px) {
            font-size: 1em;
            margin-top: 80px;
            padding-right: 30px;
        }
    }
}


