

$fuente1: 'Space Grotesk';
$size: 18px; 
$primary-red: hsl(0, 100%, 66%);
$primary-white: hsl(0, 0%, 100%);
$primary-light: hsl(270, 3%, 87%);
$primary-dark: hsl(279, 6%, 55%);
$primary-very: hsl(278, 68%, 11%);
$primary-lineal: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: $size;
    font-family: $fuente1;
    font-weight: 500;
    
}

.container{
    width: 100vw;
    height: 100%;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

}
